/* CSS Document */

/* TOC 
 * RESET STYLES
 * FONT FACE (IF USED)
 * HTML
 * BODY
 * HEADER
 * NAVIGATION
 * PAGE
 * FOOTER
 * FORMS
 * PLUGINS
 * PRINT STYLES
 * MEDIA QUERIES
---------------------------------------------------------------------------*/

/* RESET STYLES
---------------------------------------------------------------------------*/
html { overflow-y: scroll; }
html, body{ min-height: 100%; height: 100%;}
body {
	margin: 0;
	font-size: 16px;
	min-height:100%;
	font-family: 'MyriadProRegular';
	color: #565656;
} 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
button, input, select, textarea {
	font-family: 'MyriadProRegular'; /*Probably Helvetica for Linux/Mac Systems And Arial for Windows PC*/
	color: #000;
} 
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after { /* Safari Reset as Safari does not recognise quotes property */
	content: '';
	content: none;
} 
abbr[title], dfn[title] {
	border-bottom: 1px dotted #000; 
	cursor: help;
}
ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}
img{ border:none; max-width:100%;}
p {
	margin:0;
	padding:10px 0;
}
a {
	margin:0;
	padding:0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration:none;
	color:#428bca;
}
a:hover, a:active {
	outline: 0;
	text-decoration:none;
}
ul li{ list-style:none;}
img {
	border:0 none;
	max-width:100%;
}
del {
	text-decoration: line-through;
	color: #ed1c24;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.clickable, label, input[type=button], input[type=submit], button {
	cursor: pointer; /* hand cursor on clickable elements */
}
button, input, select, textarea {
	margin: 0; /* Webkit browsers add a 2px margin outside the chrome of form elements */
}
button { /* make buttons play nice in IE */
	width: auto;
	overflow: visible;
}

.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom:1;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
	font-family: 'MyriadProBold';
	color:#565656;
}
*{ padding:0; margin:0;}
h1 { font-size:42px;}
h2 { font-size:16px;}
h3 { font-size:14px;}
h4 { font-size:13px;}
h5 { font-size:12px;}
h6 { font-size:10px;}
.wd100{ float:left; width:100%;}
.wrapper{ width:96%; margin:0 auto;}


.splash-screen{ text-align:center;  display: table; width:100%; height: 100%; position:absolute; left:0; top:0; vertical-align:middle;}
.splash-screen a{ display: table-cell; vertical-align: middle;}

.about-page{ border:1px solid #d9d9d9; background:#f9f9f9; box-sizing:border-box;}

.mg{ margin:2% 0;}

.about-page h2{ padding:1%; background:#eeeeee; border-bottom:1px solid #d9d9d9;}
.about-page .para-down{  padding:0 1%; font-family: 'MyriadProSemibold';}
.icon-ge{ padding-right:10px; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif;}

.login-field{ margin:1% 0; padding:20px; border:1px solid #d9d9d9; background:#f9f9f9; box-sizing:border-box;}
.login-field form{}
.login-field form > div{ margin:0 0 20px;}
.login-field form > div input{ background:#fff; border:1px solid #ccc; width:100%; height:31px; line-height:31px; padding: 0 34px 0 10px; font-family: 'MyriadProSemibold'; color:#999999; box-sizing:border-box;} 
.login-field form > div input.us{  background:url(../images/us-name-icon.png) no-repeat #fff center right;}
.login-field form > div input.ps{  background:url(../images/user-ps-icon.png) no-repeat #fff center right;}
.login-field form > div button{ background: #e24715; border:none; height:50px; color:#fff; width:100%; font-size:22px;}
.login-field form > div img{ display:inline-block;}
.login-field form > div input[type="checkbox"]{ width:auto; height:auto;} 
.error-login{ background:#f2dede; padding:2%; color:#843635; font-family: 'MyriadProBold'; border:1px solid #ebccd1; box-sizing:border-box;}

input[type=checkbox]{ display:none;}
input[type=checkbox]:not(old) + label{ display:inline-block;background:url(../images/check.png) no-repeat;}
input[type=checkbox]:not(old):checked + label{ background:url(../images/check-select.png) no-repeat;}

input[type=checkbox]:not(old) + label.ch-cicrcle{ display:inline-block;background:url(../images/switch.png) no-repeat; width:48px; height:29px;}
input[type=checkbox]:not(old):checked + label.ch-cicrcle{ background:url(../images/switch-green.png) no-repeat;}

input[type=checkbox]:not(old) + label.tool-small{ display:inline-block;background:url(../images/small-check.png) no-repeat 0 3px;}
input[type=checkbox]:not(old):checked + label.tool-small{ background:url(../images/small-check-select.png) no-repeat 0 3px;}

.check-label{ padding-left: 20px; margin-right:3px; margin-top:10px;}

.head-part-bc{ background:#555555;}
.head-part h2{ text-transform:uppercase; color:#e1e1e1; padding:15px 0;}
.loged-part-bc{ background:#dfdfdf; padding:10px 0;}
.loged-part > div{ display:table-cell; vertical-align:middle;}
.log-img-icon img{ margin-right:10px;}
.log-img-text{ font-size:14px; font-family: 'MyriadProSemibold';}
.list-part ul li > span{ display:table-cell; vertical-align:middle; padding:10px;  height:50px; box-sizing:border-box;}
.list-part ul li > span h3{ color:#919191; margin-top:5px;}
.list-part ul li > span p{ color:#7e7e7e; font-size:14px; padding:0; margin-top: 5px;}
.list-part ul li{ display:table; margin:1px 0; border-bottom:1px solid #f1f1f1; border-top:1px solid #f1f1f1; padding:0 2%; width:100%; box-sizing:border-box;}
.list-part ul li > span.wd20px{  width:50px; text-align:center;}
.list-part.stop-add ul li span{ vertical-align:top;}
.list-part.stop-add ul li span.wd20px{ padding:10px 0;}
.list-part ul li > span span{ display:inline-block;}
.list-part ul li > span span.gps-toggle-switch{ width:20%; text-align:right;}
.list-part ul li > span span.gps-toggle{ width:80%;}

.head-part h2 span{ float:right;}

#responsive{ cursor:pointer;}
#nav { display:none; background:#fff; box-sizing:border-box; width:150px; border:1px solid #f5f5f5; border-bottom:none; right: 2px;top: 42px; position:absolute; z-index:22;}
#nav li{  border-bottom:1px solid #f5f5f5; box-sizing:border-box; padding:4px 15px;}
#nav li input[type=checkbox]:not(old) + label{ display:inline-block;background:url(../images/menu-check-box.png) no-repeat; }
#nav li input[type=checkbox]:not(old):checked + label{ background:url(../images/menu-check-box-select.png) no-repeat;}
#nav li .menu-check-label{ padding-left: 24px; margin-right:0; margin-top:6px; color:#565656; font-family: 'MyriadProSemibold'; line-height:13px;height:14px;}


#accordion h3::after { content: ">"; float: right; -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);}
#accordion h3.ui-accordion-header-active::after{ float:right; content: ">"; -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);}

#accordion h3{ color:#565656; margin:10px 0;}
#accordion { float:left; width:100%;}
#accordion > div{ background:#ececec; padding:0 2%; position:absolute; left:0; width:100%; box-sizing:border-box; z-index:10;}

#accordion .order-table{}
#accordion .order-table li{ font-size:12px; background:url(../images/check-point.png) no-repeat 0 center; padding:10px 28px; border:none; border-top:1px solid #dfdfdf; }
#accordion .order-table li a{ color:#7e7e7e;}
.active-arrow .click-toggle::after{ content: ">"; position:absolute; top:36px; right:2%; -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);}
.click-toggle::after{ content: ">"; position:absolute; top:36px; right:2%; -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);}
.list-part ul li.odd{ background:#f5f5f5;}

.list-part.stop-add.all-down ul li{ height:90px;}

.footer-bc{ background:#555555;}
.footer{ text-align:center; color:#fff; font-family: 'MyriadProSemibold';}

.block-system{ display:none; margin-top:20px; margin-bottom:30px;}
.navi{ font-size:18px; color:#fff; background:#296eaa; padding:3px 0; left:0;  font-family: 'MyriadProSemibold'; width:100%; position:absolute; text-align:center; bottom:0;}
.list-part.stop-add.all-down ul li{ position:relative;}
.active-arrow .block-system{ display:block;}